<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">

      <div class="stitle-add">
        <h4>尋找餐廳：</h4>
        <a href="/restaurants/new">
          <i class="fa-solid fa-circle-plus"></i> 新增餐廳
        </a>
      </div>
      
      <form action="/restaurants" id="search-and-sort">
        <div class="row">   

          <div class="col-sm-8">        
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
               value="{{keyword}}" aria-describedby="search-button" >
              <div class="input-group-append">
                <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
              </div>
            </div>        
          </div>
        
          <div class="col-sm-4">        
            <select name="sort" class="form-select" aria-label="Default select example" id="sort"
              onchange="document.getElementById('search-and-sort').submit()">
              <option selected disabled>
                排序方式
              </option>
              <option value="none" {{#if (eq sort 'none')}}selected{{/if}}>不排序</option>
              <option value="ASC" {{#if (eq sort 'ASC')}}selected{{/if}}>依名稱(A→Z)</option>
              <option value="DESC" {{#if (eq sort 'DESC')}}selected{{/if}}>依名稱(Z→A)</option>
              <option value="category" {{#if (eq sort 'category')}}selected{{/if}}>依類別</option>
              <option value="location" {{#if (eq sort 'location')}}selected{{/if}}>依地區</option>
              <option value="rating_DESC" {{#if (eq sort 'rating_DESC' )}}selected{{/if}}>依評分(高→低)</option>
              <option value="rating_ASC" {{#if (eq sort 'location_ASC' )}}selected{{/if}}>依評分(低→高)</option>
            </select>        
          </div>
        
        </div>
      </form>    

    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        <!-- Render restaurant cards -->
        {{#each restaurants as |restaurant|}}
        <div class="text-secondary" style="text-decoration: none;">
          <div class="card mb-3">
            <a href="/restaurants/{{restaurant.id}}" style="text-decoration: none;">
              <img class="card-img-top" src="{{#if restaurant.image}}{{restaurant.image}}{{else}}/image/no-img.jpg{{/if}}" onerror="this.src='/image/not-available.png';" alt="{{restaurant.name}}">
            
              <div class="card-body p-3">
                <div class="card-title" style="display: flex; justify-content: space-between;">
                  <h6 class="card-title mb-1" style="color: #333333;">{{restaurant.name}}</h6>
                  <span class="badge rounded-pill bg-danger font-weight-normal ms-2" style="align-self: center;">
                    {{restaurant.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
                </div>
            </a>

              <div class="fn-bar mt-3">
                <a href="/restaurants/{{restaurant.id}}/edit">
                  <i class="fa-solid fa-pen-to-square" style="margin-right: 3px;"></i>編輯
                </a>
                <a href="/restaurants/{{restaurant.id}}" class="ms-3">
                  <i class="fa-solid fa-circle-info" style="margin-right: 3px;"></i>詳細
                </a>
                <form id="delete-restaurant" method="post" class="ms-3">
                  <button type="button" onclick="confirmDelete({{restaurant.id}})" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i></button>
                </form>
              </div>

            </div>
            
          </div>
        </div>
        {{/each}}
        
      </div>
    </div>
  </div>

  {{#if noResult}}
  <div style="display: flex; justify-content: center;">
    <p style="margin: auto; color: #666666";>很抱歉，找不到
    <span style="font-weight: bold;">
      " {{keyword}} "
    </span>
    的相關結果。</p>
  </div>    
  {{/if}}

  <div class="d-flex justify-content-center my-4 {{#if noResult}}hidden{{/if}}">
    <nav class="page-navigator d-flex justify-content-center">
      <form action="/restaurants" method="GET" style="display: inline;">
        <input type="hidden" name="search" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="hidden" name="page" value="{{prev}}">        
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-angles-left"></i></button>
      </form>

      <form action="/restaurants" method="GET" style="display: inline; margin: auto 10px;" id="page-form">
        <input type="hidden" name="search" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="number" name="page" value="{{page}}" id="page-input" class="form-control">
        <span>/ {{maxPage}}</span>
      </form>

      <form action="/restaurants" method="GET" style="display: inline;">
        <input type="hidden" name="search" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="hidden" name="page" value="{{next}}">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-angles-right"></i></button>
      </form>
    </nav>
  </div>


</div>

<script src="/javascripts/confirm-delete.js"></script>
<script src="/javascripts/form.js"></script>