<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <div class="stitle-add">
        <h4>尋找餐廳：</h4>
        <a href="/restaurants/new">
          <i class="fa-solid fa-circle-plus"></i> 新增餐廳
        </a>
      </div>
            
      <form action="/restaurants">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="" aria-describedby="search-button" value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        <!-- Render restaurant cards -->
        {{#each restaurants as |restaurant|}}
        <div class="text-secondary" style="text-decoration: none;">
          <div class="card mb-3">
            <a href="/restaurant/{{restaurant.id}}" style="text-decoration: none;">
              <img class="card-img-top" src="{{#if restaurant.image}}{{restaurant.image}}{{else}}/image/no-img.jpg{{/if}}" onerror="this.src='/image/not-available.png';" alt="{{restaurant.name}}">
            
              <div class="card-body p-3">
                <div class="card-title" style="display: flex; justify-content: space-between;">
                  <h6 class="card-title mb-1" style="color: #333333;">{{restaurant.name}}</h6>
                  <span class="badge rounded-pill bg-danger font-weight-normal ms-2" style="align-self: center;">
                    {{restaurant.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
                </div>
            </a>

              <div class="fn-bar mt-3">
                <a href="/restaurant/{{restaurant.id}}/edit">
                  <i class="fa-solid fa-pen-to-square" style="margin-right: 3px;"></i>編輯
                </a>
                <a href="/restaurant/{{restaurant.id}}" class="ms-3">
                  <i class="fa-solid fa-circle-info" style="margin-right: 3px;"></i>詳細
                </a>
                <form id="delete-restaurant" method="post" class="ms-3">
                  <button type="button" onclick="confirmDelete({{restaurant.id}})" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i></button>
                </form>
              </div>

            </div>
            
          </div>
        </div>
        {{/each}}
        
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/confirm-delete.js"></script>